/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


body {
   background-color:#f4f1de;     
}

header {
width: 1000px ;
height: 100px ;
font-family: Bitter ;
font-weight: 600;
font-size: 18pt;
background-color: #24565d;
color: #ffffff;
margin: 10px 10px 20px 10px;
padding: 10px;
}

.inhoudsopgave {
   width: 220px;
   height: 300px; 
   font-family: Bitter;
   font-weight: 600;
   font-Weight: 500;
   font-size: 15pt;
   background-color: #658B6F;
   color: #ffffff;
   margin: 20px 10px 20px 10px; 
   padding: 10px; 
   float: right;
   text-align: center;
}

.inhoudsopgave a {
   color: white;
   text-decoration: none;
   font-size: 15pt;
}

.inhoudsopgave a:hover {
   text-decoration: underline;
 }

#bigimage img {
   width: 1020px;
   margin: 20px 10px 20px 10px;
   box-sizing: border-box;
 }

.samenvatting_homepage {
   width: 1000px; 
   height: 285px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size:  17pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 40px 10px;
   padding: 10px;
 }

.koptitel {
   width: 1000px; 
   height: 75px; 
   font-family: Bitter; 
   font-weight: 600; 
   font-size: 17pt; 
   background-color: #24565d; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both; 
}

.kop_samenvatting {
   width: 1000px; 
   height: 190px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingBedreigingen{
   width: 1000px; 
   height: 210px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingAanvallers{
   width: 1000px; 
   height: 180px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingMaatregelen{
   width: 1000px; 
   height: 150px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.plaatjes_klein img {
   width: 326.5px; 
   height: 190px;
   float: left;
   margin: 20px 10px 0px 10px; 
   box-sizing: border-box;
}

.clear {
   clear: both; 
}

.deelkopje_nav {
   width: 326.5px; 
   height: 187px; 
   font-family: Bitter;
   font-Weight: 500; 
   font-size: 13pt; 
   background-color: #658B6F; 
   color: #ffffff; 
   margin: 0px 10px 60px 10px; 
   padding: 5px;
   float: left;
   box-sizing: border-box;
}

.deelkopje_nav a {
   text-decoration: none;
   color: #ffffff;
   font-weight: bold;
}

.deelkopje_nav a:hover {
   text-decoration: underline;
 }

 .deelkopje_navLaatste a:hover {
   text-decoration: underline;
 }

footer {
  clear: both;
  width: 1000px; 
  height: 75px; 
  font-family: Bitter; 
  font-weight: 500; 
  font-size: 13pt; 
  background-color: #3e9194; 
  color: #ffffff; 
  margin: 0px 10px 10px 10px; 
  padding: 10px;
}

#wrapper {
   width: 1300px;
   margin: auto;
}

.deelkopje_navLaatste {
   width: 326.5px; 
   height: 187px; 
   font-family: Bitter;
   font-Weight: 500; 
   font-size: 13pt; 
   background-color: #658B6F; 
   color: #ffffff; 
   margin: 0px 10px 30px 10px; 
   padding: 5px;
   float: left;
   box-sizing: border-box;
}

.deelkopje_navLaatste a {
   text-decoration: none;
   color: #ffffff;
   font-weight: bold;
}