/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

body {
   background-color:#f4f1de;
     
   }

header {
width: 1000px ;
height: 100px ;
font-family: Bitter ;
font-Weight: 600;
font-size: H1 45pt;
background-color: #24565d;
color: #ffffff;
margin: 10px 10px 20px 10px;
padding: 10px;
}

#bigimage img {
   width: 1000px;
   margin: 20px 10px 20px 10px;
 }

 