body {
    background-color:#f4f1de;     
 }
 
 header {
 width: 1000px ;
 height: 100px ;
 font-family: Bitter ;
 font-weight: 600;
 font-size: H1 45pt;
 background-color: #24565d;
 color: #ffffff;
 margin: 10px 10px 20px 10px;
 padding: 10px;
 }
 
 .inhoudsopgave {
    width: 240px;
    height: 380px; 
    font-family: Bitter;
    font-weight: 600;
    font-Weight: 500;
    font-size: p 15pt;
    background-color: #658B6F;
    color: #ffffff;
    margin: 20px 10px 20px 10px; 
    padding: 10px; 
    float: right;
    text-align: center;
 }
 
 #bigimage img {
    width: 1020px;
    margin: 20px 10px 20px 10px;
    box-sizing: border-box;
  }
 
 .samenvatting_homepage {
    width: 1000px; 
    height: 285px; 
    font-family: Bitter;
    font-weight: 500; 
    font-size:  17pt; 
    background-color: #3e9194; 
    color: #ffffff; 
    margin: 20px 10px 40px 10px;
    padding: 10px;
  }
 
 .koptitel {
    width: 1000px; 
    height: 75px; 
    font-family: Bitter; 
    font-weight: 600; 
    font-size: 17pt; 
    background-color: #24565d; 
    color: #ffffff; 
    margin: 20px 10px 20px 10px; 
    padding: 10px;
    clear: both; 
 }
 
 .kop_samenvatting {
    width: 1000px; 
    height: 190px; 
    font-family: Bitter;
    font-weight: 500; 
    font-size: 15pt; 
    background-color: #3e9194; 
    color: #ffffff; 
    margin: 20px 10px 20px 10px; 
    padding: 10px;
    clear: both;
 }
 
 .plaatjes_klein img {
    width: 326.5px; 
    float: left;
    margin: 20px 10px 0px 10px; 
    box-sizing: border-box;
 }
 
 .clear {
    clear: both; 
 }
 
 .deelkopje_nav {
    width: 326.5px; 
    height: 187px; 
    font-family: Bitter;
    font-Weight: 500; 
    font-size: 13pt; 
    background-color: #658B6F; 
    color: #ffffff; 
    margin: 0px 10px 60px 10px; 
    padding: 5px;
    float: left;
    box-sizing: border-box;
 }
 
 .deelkopje_nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
 }
 
 footer {
   clear: both;
   width: 1000px; 
   height: 75px; 
   font-family: Bitter; 
   font-weight: 500; 
   font-size: p 17pt; 
   background-color: #658B6F; 
   color: #ffffff; 
   margin: 20px 10px 10px 10px; 
   padding: 10px;
 }
 
 #wrapper {
    width: 1100px;
    margin: auto;
 }
 .kop_samenvattingAuthenticatie1 {
  width: 1000px; 
  height: 220px; 
  font-family: Bitter;
  font-weight: 500; 
  font-size: 15pt; 
  background-color: #3e9194; 
  color: #ffffff; 
  margin: 20px 10px 20px 10px; 
  padding: 10px;
  clear: both;
}

.kop_samenvattingAuthenticatie2 {
  width: 1000px; 
  height: 190px; 
  font-family: Bitter;
  font-weight: 500; 
  font-size: 15pt; 
  background-color: #3e9194; 
  color: #ffffff; 
  margin: 20px 10px 20px 10px; 
  padding: 10px;
  clear: both;
}

 .kop_samenvattingIntegriteit1 {
   width: 1000px; 
   height: 220px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .custom-table {
  background-color: #3e9194;
  color: white;
  border: 2px solid #000000;
}

.custom-table td {
  padding: 5px;
}

.custom-table td.highlight {
  background-color: #024565;
  font-weight: bold;
}

 .kop_samenvattingIntegriteit2 {
   width: 1000px; 
   height: 270px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingBeschikbaarheid1 {
   width: 1000px; 
   height: 320px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

.kop_samenvattingBeschikbaarheid2 {
   width: 1000px; 
   height: 300px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZwakhedenArchitectuur1 {
   width: 1000px; 
   height: 320px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZwakhedenArchitectuur2 {
   width: 1000px; 
   height: 190px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingBeschikbaarheid1 {
   width: 1000px; 
   height: 240px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingBeschikbaarheid2 {
   width: 1000px; 
   height: 350px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZwakhedenCommunicatie1 {
   width: 1000px; 
   height: 190px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZwakhedenCommunicatie2 {
   width: 1000px; 
   height: 240px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZwakhedenGebruiker1 {
   width: 1000px; 
   height: 240px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZwakhedenGebruiker2 {
   width: 1000px; 
   height: 350px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingComputervredebreuk1 {
   width: 1000px; 
   height: 210px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingComputervredebreuk2 {
   width: 1000px; 
   height: 330px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingEthischeHackers1 {
   width: 1000px; 
   height: 220px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingEthischeHackers2 {
   width: 1000px; 
   height: 150px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZerodays1 {
   width: 1000px; 
   height: 180px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

 .kop_samenvattingZerodays2 {
   width: 1000px; 
   height: 270px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

.kop_samenvattingPreventie1 {
   width: 1000px; 
   height: 380px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

.kop_samenvattingPreventie2 {
   width: 1000px; 
   height: 520px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }


.kop_samenvattingdetectie1 {
   width: 1000px; 
   height: 100px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

.kop_samenvattingdetectie2 {
   width: 1000px; 
   height: 420px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }


.kop_samenvattingRepressie_en_correctie1 {
   width: 1000px; 
   height: 130px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }

.kop_samenvattingRepressie_en_correctie2 {
   width: 1000px; 
   height: 150px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
 }


 table {
   border: 1px solid black;
   border-collapse: collapse;
   margin: 20px 10px 20px 10px;
}

td {
   border: 1px solid black;
}

.Preventietabel{
   border: 1px solid black;
   border-collapse: collapse;
   margin: auto;
   color:black;
   font-size: 15pt;
   text-align: center;
}

.bold-word {
  font-weight: bold;
}

.Tabeltitel {
  text-align: center;
  font-weight: bold;
  background-color: #024565;
}
