/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

body {
   background-color:#f4f1de;
     
   }

header {
width: 1000px ;
height: 100px ;
font-family: Bitter ;
font-weight: 600;
font-size: H1 45pt;
background-color: #24565d;
color: #ffffff;
margin: 10px 10px 20px 10px;
padding: 10px;
}

nav {
   width: 240px;
   height: 380px; 
   font-family: Bitter;
   font-weight: 600;
   font-Weight: 500;
   font-size: p 15pt;
   background-color: #658B6F;
   color: #ffffff;
   margin: 20px 10px 20px 10px; 
   padding: 10px; 
   float: right;
}

#bigimage img {
   width: 1000px;
   margin: 20px 10px 20px 10px;
 }

 .samenvatting_homepage {
width: 1000px; 
height: 285px; 
font-family: Bitter;
font-weight: 500; 
font-size:  17pt; 
background-color: #3e9194; 
color: #ffffff; 
margin: 20px 10px 20px 10px;
padding: 10px;
 }

 .koptitel {
 Width: 1000px; 
Height: 75px; 
Font-type: Bitter 
Font-Weight: 600; 
Font-size: p 17pt; 
Background-color: #24565d; 
Color: #ffffff; 
Margin: 20px 10px 20px 10px; 
Padding: 10px; 
}